<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloudy.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <dev  class="main-content">
         {{>header}}
         <p class="teststyle">One Dream Six Strengths & Six Visions</p>
         <p></p>
         <dev class="row">
             <dev class="column">
                 <img class="potrait" src="/img/akshatha.jpg">
                 <p>Akshatha(Technical Manager)</p>
             </dev>
             <dev class="column">
                <img class="potrait" src="/img/anusha.jpg">
                <p>Anusha(Chief executive)</p>
             </dev>
             <dev class="column">
                 <img class="potrait" src="/img/janardhan.jpg">
                 <p>Janardhan(Manager) </p>
             </dev>
             <dev class = "column">
                <img class="potrait" src="/img/koushik.jpg">
                <p>Koushik(Chairman)</p>
             </dev>
             <dev class="column">  
                 <img class="potrait" src="/img/preetham1.jpg">
                 <p>Preetham(Developer)</p>
             </dev>
             <dev class="column">
                 <img class="potrait" src="/img/Vinutha.jpg">
                 <p>Vinutha(Chief Financial Officer)</p>
             </dev>
         </dev>
       
       
        
        </dev>
        {{>footer}}
    </body>
</html>