<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloudy.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <dev  class="main-content">
         {{>header}}
         <dev class="row">
             <dev class="column">
                <img class="potrait" src="/img/anusha.jpg">
                <p>Anusha(Chief executive)</p>
             </dev>
             <dev class="column">
                 <img class="potrait" src="/img/janardhan.jpg">
                 <p>Janardhan(Manager) </p>
             </dev>
             <dev class = "column">
                <img class="potrait" src="/img/koushik.jpg">
                <p>Koushik(Chairman)</p>
             </dev>
             <dev class="column">  
                 <img class="potrait" src="/img/preetham1.jpg">
                 <p>Preetham(CEO)</p>
             </dev>
             <dev class="column">
                 <img class="potrait" src="/img/vinutha.jpg">
                 <p>Vinutha(Chief Financial)</p>
             </dev>
         </dev>
       
       
        
        </dev>
        {{>footer}}
    </body>
</html>