<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>
    <dev class="main-content">
        {{>header}}
         <form>
        <input placeholder="location">
        <button>Search</button>
    </form>
    <p id="msg-1"></p>
    <p id="msg-2"></p>
    </dev>
   
    {{>footer}}
     <script src="/js/app.js"></script>
</body>
</html>